@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @apply bg-slate-200
  }

  * {
    box-sizing: border-box;
  }

  #root {
    @apply mx-auto mt-5 sm:mt-20 px-5
  }

  h1 {
    @apply text-5xl 
  }

  h2 {
    @apply text-4xl
  }

  h3 {
    @apply text-3xl
  }
  
  h4 {
    @apply text-2xl
  }

  h5 {
    @apply text-xl
  }

  h6 {
    @apply text-lg
  }

  button {
    @apply px-16 mb-3 border-l-4
  }

  button:hover {
    @apply transition-all duration-500 border-green-300 text-green-400
  }
}